body {
    background-color: rgb(229, 229, 229);
    margin: 0;
  }
  
  header {
    text-align: left;
    color: #0C2772;
  }
  
  nav, footer {
    background-color: #082a8b;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  nav a, footer {
    text-align: center;
    color: #FFE200;
  }
  
  footer {
    clear: both;
  }
  
  nav a {
    font-size: large;
    text-decoration: none;
    display: inline-block;
    width: 25%;
  }
  
  article {
    font-family: serif;
    float: left;
    width: calc(60% - 10px);
    min-width: calc(100% - 240px);
    padding-left: 10px;
    text-align: justify;
  }
  
  aside {
    text-align: right;
    background-color: #95aef5;
    float: right;
    width: calc(35% - 20px);
    max-width: 200px;
    padding: 10px;
    border-bottom-left-radius: 10px;
  }
  
  aside ul {
    padding: 0;
  }
  
  aside li {
    margin-bottom: 10px;
    display: block;
  }
  
  aside a {
    font-style: italic;
    color: black;
  }
  
  aside img {
    border-radius: 50%;
    width: 100px;
  }
  
