<!DOCTYPE html>
<html>
	<head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <title>Legacy Ink</title>
	  <link rel="stylesheet" href="/style/style1.css">
	</head>
	<body>
	  <header>
		<h1>Legacy Ink - Home</h1>
	  </header>
	
	  <nav>
        <a href="https://group5untangling.mybluemix.net/">Home</a><a href="https://group5untangling.mybluemix.net/database">database</a><a href="https://group5untangling.mybluemix.net/chatbot">chatbot</a><a href="https://group5untangling.mybluemix.net/facts">Facts + contact</a>
	  </nav>
	
	  <!-- Here is our page's main content -->
	  <main>
	
		<!-- It contains an article -->
		<article>
			<h2>@ryan please implement the chatbot into this page</h2>
		  <h2>if you can't its all good to make this a whole page chatbot</h2>
	
		  </article>
	   
		<!-- the aside content can also be nested within the main content -->
		<aside>
		  <h2>Location HQ</h2>
			<ul>
				<div id="map" style="width: 195px; height: 400px;"></div>
			</ul>
		<script src="https://maps.google.com/maps/api/js?key=AIzaSyBMyQFo3fwUUKS6M7ENWbVdiRV64u5KMzU"></script>
	 <script src="GoogleMapsJS.js"></script>
		  <img src="http://www.fmschools.org/webpages/ekerr/imageGallery/book%20stack.png">
		</aside>
		  
	  </main>
	 <script src="https://maps.google.com/maps/api/js?key=AIzaSyBMyQFo3fwUUKS6M7ENWbVdiRV64u5KMzU"></script>
	 <script src="GoogleMapsJS.js"></script>
		
				
	  <footer>
		©Copyright 2017 by LegacyInk. All rights reversed.
	  </footer>	
		 <script src="https://maps.google.com/maps/api/js?key=AIzaSyBMyQFo3fwUUKS6M7ENWbVdiRV64u5KMzU"></script>
	 <script src="GoogleMapsJS.js"></script>		
	 <script type="text/javascript" src="/scripts/map.js"></script>	
	</body>
	</html>