<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Legacy Ink</title>
  <link rel="stylesheet" href="/style/style1.css">
</head>
<body>
  <header>
    <h1>Legacy Ink - Facts + Contact</h1>
  </header>

  <nav>
		<a href="https://group5untangling.mybluemix.net/">Home</a><a href="https://group5untangling.mybluemix.net/database">Sign up</a><a href="https://group5untangling.mybluemix.net/chatbot">Chatbot</a><a href="https://group5untangling.mybluemix.net/facts">Facts + contact</a>
  </nav>

  <!-- Here is our page's main content -->
  <main>

    <!-- It contains an article -->
    <article>
        
      <h2>SEO Factors</h2>

	    <h3>Quality</h3>
	    <p>All pages will be well written by University of Victoria students. Content quality comes from the unique business idea proposed. All content will be relevant to the business model canvas and relevant to search terms.</p>
	    
	    <h3>Words</h3>

		  <p>Each page will have relevant words and phrases such as “biography service”, “immortalize your loved ones” and more</p>
		    

		    <h3>URLS</h3>
<p>All URLS will contain meaningful keywords in relation to the page topic. For example our business model canvas. The URL will likely be something like www.legacyink/project2-businessmodel/</p>
		    
		    <h3>Headers</h3>
		    <p>Headlines and subhead will contain relevant words related to our content</p>
		    
		    <h3>Ease of Access</h3>
		    
		    <p>Users will find the website extremely easy to navigate with our navigation bar</p>
		    
		    <h3>Research</h3>
		    
		    <p>We have researched the most common terms and easiest ways for people to find our website. Words like biography, paid biography, biography scrapbook will all link to our content.</p>

	    <h1>Reviews!</h1>
	  
      <h2>Your opinion MATTERS - the Legacy Ink team motto</h2>
      <p>Here at Legacy Ink, we listen to and care about our clients like no other, please take the time to read some reviews that clients have left for us</p>
      <h1>Caroline</h1>
      <a href="https://imgur.com/h9Rp90L"><img src="https://i.imgur.com/h9Rp90L.jpg" title="source: imgur.com" /></a>
      <p>My, oh my, I would've so loved to have my life story placed in my own book for my grandchildren to see my life adventures when I passed. Thankfully, the amazing people at Legacy Ink made my wonders a reality. Not only did I get to have my whole life story published inside my own customizable book, but now my generations to come can see and read about my adventures!!! Yay!!</p>

      <h1>Joe Rogan</h1>
      <a href="https://imgur.com/hhNzvYD"><img src="https://i.imgur.com/hhNzvYD.jpg" title="source: imgur.com" /></a>
      <p>Man, my life has been so awesome. I've always wanted to make a movie out of it. But, even though I have a lot of money, that's pretty expensive for me. Thank jesus that Legacy Ink is a thing. Now my friends can see how cool of a guy I am in a book.</p>
      

	  </article>
   
    <!-- the aside content can also be nested within the main content -->
    <aside>
      <h2>Contact</h2>
	    <ul>
		    <p>David Turpin Building</p>
		    <p>Uvic</p>
		    <p>3800 Finnerty Road, Victoria BC</p>
		    <p>Phone : 604 - 444 - 2222</p>
	    </ul>
   
      <img src="http://www.fmschools.org/webpages/ekerr/imageGallery/book%20stack.png">
    </aside>
	  
  </main>

	
			
  <footer>
    ©Copyright 2017 by LegacyInk. All rights reversed.
  </footer>	
	
</body>
</html>